# Creación de diccionarios de Python
Agrega el código para crear un nuevo diccionario denominado 'planet'. Rellena con la siguiente información:

name: Mars

moons: 2

In [2]:
planet = {
    'name': 'Mars',
    'moons': 2
}

Para recuperar valores, puede utilizar el método get o corchetes ([ ]) con el nombre de la clave que desea recuperar.

In [3]:
print(f"{planet['name']} has {planet['moons']} moons")

Mars has 2 moons

Agrega un nuevo valor con una clave de 'circunferencia (km)'. Este nuevo valor debería almacenar un diccionario con las dos circunferencias del planeta:

polar: 6752

equatorial: 6792

In [4]:
planet['circumference (km)'] = {
    'polar': 6752,
    'equatorial': 6792
}

Imprime el nombre del planeta con su circunferencia polar.

In [5]:
print(f"{planet['name']} has a polar circumference of {planet['circumference (km)']['polar']}")

Mars has a polar circumference of 6752

# Programación dinámica con diccionarios
## Ejercicio: Cálculo de valores
En este escenario, calcularás tanto el número total de lunas en el sistema solar como el número promedio de lunas que tiene un planeta.

In [6]:
# Planets and moons

planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [7]:
# Añade el código para determinar el número de lunas.

moons = planet_moons.values()
planets = len(planet_moons.keys())

In [8]:
# Agrega el código para contar el número de lunas.

T_M = 10
for moon in moons:
    total_moons = T_M, moon

mean = T_M / planets

print(mean)

0.8333333333333334